// Custom Style Colors
$white: #f1eeee;
$black: #020202;
// $primary1: #1d222c;
$primary1: #13161d;
// $primary2: #1a1c25;
$primary2: #181a22;
$primary3: #1a3554;
$primary4: #848eb7;
$primary5: #a6acbe;
$green: #0ddd22;
$red: #b40500;
$orange: #ffb800;
$blue: #006bb3;
$blue2: #095588;
$logoBlue: #3db4ff;
$button1: #094d7a;
$button2: #006bb3;
$disabled: #3b404b;
$divider: #232831;
$dividerDark: #13151a;
$secondaryText: #8d8d8d;
$transparant: #00000000;
$opaque: #000000AA;
