// Custom Style Colors
$white: #fcfcfc;
$black: #020202;
$primary1: #1d222c;
$primary2: #1a1c25;
$primary3: #1a3554;
$primary4: #848eb7;
$primary5: #a6acbe;
$primary6: #dbdbdb;
$green: #0ddd22;
$red: #b40500;
$orange: #ffb800;
$blue: #006bb3;
