// Custom Style Colors
$white: #f1eeee;
$black: #020202;
// $primary1: #1d222c;
$primary1: #13161d;
$primary2: #1a1c25;
$primary3: #1a3554;
$primary4: #848eb7;
$primary5: #a6acbe;
$primary6: #dbdbdb;
$green: #0ddd22;
$red: #b40500;
$orange: #ffb800;
$blue: #006bb3;
$blue2: #095588;
$logoBlue: #3db4ff;
$disabled: #3b404b;
$divider: #232831;
