/* This was just for the temp buttons. Once Ant is set up and buttons are replaced, we can remove this file */
.button {
	align-self: center;
	font-size: 15pt;
	width: 10em;
	padding: 0.5em;
	border: 0px;
	color: white;
	background-color: black;
	margin: 1em;
}
