/* 
ANT DESIGN related
These styles are available to any component in the app that has the className.
If the styles are here, it's because I couldn't find any other way of styling the component.

NOTE: It seems like if one component imports this style sheet, all pages import it automatically.
It's currently imported in index.js

*/

@import './styleVariables';

.ant-btn-primary {
	background-color: $button1;
	border: $dividerDark;
	line-height: 7px;
}

.ant-btn-primary:hover {
	background-color: $button2;
}

.ant-btn-primary:focus {
	background-color: $button1;
}

.ant-btn-ghost {
	color: $white;
	border: solid $button1 1px;
	line-height: 7px;
}

.ant-btn-ghost:hover {
	color: $white;
	border-color: $button2;
}

.ant-btn-ghost:focus {
	color: $white;
	border: solid $button1 1px;
}

/* Removes notification badge animation */
.ant-badge-zoom-appear {
	animation: none !important;
}

/* Form label style */
.form-section .form-group label {
	font-size: 15px;
	color: #ebebeb;
}

/* The tabs in StrategySettingsPage */
.ant-tabs-top-bar .ant-tabs-card-bar {
	margin-bottom: 0;
}

/* The content section of Layouts  */
.site-layout-background {
	background-color: #1d222c;
}

.ant-layout-content {
	background-color: $primary2;
}

/* Removes the step arrows on InputNumber components*/
.ant-input-number-handler-wrap {
	visibility: hidden;
}

/* Styles for the CoinSelector Module */
.ant-transfer-list {
	background-color: #1a1c25;
	color: #fcfcfc;
}

.ant-transfer-list-content-item:hover {
	color: #020202;
}

/* Removes the visibility toggle on password fields */
.ant-input-password-icon {
	display: none;
}

.ant-modal-header {
	background-color: #1a1c25;
}

.ant-modal-title {
	font-size: 16pt;
	color: #ebebeb;
}

.ant-switch .ant-switch-checked {
	background-color: $logoBlue;
}
