@import '../../../styleVariables';

.BrowseStategiesCard {
	display: flex;
	flex-direction: row;
	border: solid $moduleBorder 1px;
}

.BrowseStategiesCard .ant-card-head {
	background-color: $primary2;
}

.BrowseStategiesCard .ant-card-body {
	padding-top: 0.5rem;
	background-color: $primary2;
}

.cardContent {
	width: 31.5rem;
	height: 130px;
	border: none;
}

.cardImg {
	width: 130px;
	height: 130px;
	border: none;
}

.endContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-top: 0.15rem;
}

.statsText {
	margin-bottom: 0.2rem;
}

.bottomRow {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.bottomContainer {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: 0.45rem;
}

.posAvgText {
	font-size: 12pt;
	color: $green;
	margin-left: 0.4rem;
}

.negAvgText {
	font-size: 12pt;
	color: $red;
	margin-left: 0.4rem;
}
