@import '../../styleVariables';

// SideNavBar
.SideNavBar {
	background-color: $primary1;
}

.navMenu {
	background-color: $primary1;
	color: $white;
	border-right: none;
}

.SideNavBar .ant-menu-item {
	margin-top: 0 !important;
}

.SideNavBar .ant-menu-item:hover {
	color: $logoBlue;
}

.SideNavBar .ant-menu-item-selected {
	color: $white;
	width: 100%;
	background-color: $blue2 !important;
}

.SideNavBar .ant-menu-item-selected:hover {
	color: $white !important;
}

.SideNavBar .ant-menu-item-selected:after {
	border-right: none !important;
}

.SideNavBar .ant-menu-item-divider {
	background-color: $divider;
	margin: 0;
}

.disabledText {
	color: $disabled !important;
}

.enableTradingToggle {
	background-color: $primary1;
	color: $white;
	border-right: none;
}

.logo {
	max-width: 11rem;
}

.logo:hover {
	cursor: pointer;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
}

.user-name {
	color: $white;
	font-size: 14pt;
	font-weight: bold;
}

.user-container {
	display: flex;
	align-items: center;
	height: 3.5rem;
}
