@import '../../styleVariables';

.logo {
	max-width: 11rem;
}

.logo:hover {
	cursor: pointer;
}

.logo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.5rem;
}

.user-name {
	color: $white;
	font-size: 14pt;
	font-weight: bold;
}

.user-container {
	display: flex;
	align-items: center;
	height: 3.5rem;
}
