.NotFoundPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.button {
	align-self: center;
	font-size: 15pt;
	width: 10em;
	padding: 0.5em;
	border: 0px;
	color: black;
	background-color: white;
	margin: 1em;
}
