.AccountBalancesBar{
    margin-top: 20px;
    height: 5rem;
    background-color: #1A1C25;
    border-width: 0.5px;
}

div.AccountBalancesBar > * {
    position: asolute;
    top: 50%;
    margin: 0;
    line-height: 80px;

}
