@import './../../../styleVariables';

.PurchaseSubscription {
	background: $primary1;
	height: 18rem;
	font-size: 16pt;
	padding: 1rem;
	color: $white;
	border: solid $moduleBorder 1px;
}

.featureContainer {
	margin-top: 1rem;
	margin-right: 2.5rem;
}

.featureText {
	color: $logoBlue;
	font-size: 15pt;
	text-align: right;
	margin-top: 0.6rem;
	margin-left: 0.5rem;
	text-shadow: 1px 1px $black;
}

.logoNoClick {
	max-width: 13rem;
}
