.PaymentResultPage {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.messageContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button {
	align-self: center;
	font-size: 15pt;
	width: 10em;
	padding: 0.5em;
	border: 0px;
	color: white;
	background-color: black;
	margin: 1em;
}
