@import './../../../../styleVariables';

.ProfitLoss .ant-card-bordered {
	border: 1px $moduleBorder solid;
	background-color: #13161d !important;
}

// .ProfitLoss .ant-card-body {
// 	margin-top: 1px #555555 solid;
// }
