@import './../../../styleVariables';

.layout {
	height: 28rem;
	margin-top: 0.5rem;
}

.sider {
	background-color: $primary1;
}

.sider .ant-menu {
	background-color: none;
}

.sider .ant-menu-item {
	background-color: $primary1;
	border-right: solid $primary1 2px !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.sider .ant-menu-item:hover {
	color: $white !important;
}

.sider .ant-menu-item-selected {
	color: $white;
	width: 100%;
	background-color: $primary2 !important;
}

.sider .ant-menu-item-selected:hover {
	color: $white !important;
	background-color: none !important;
}

.sider .ant-menu-item-selected:after {
	border-right: none !important;
	background-color: none !important;
}

.content {
	height: 30.3rem;
	padding-top: 24;
	padding-bottom: 24;
	margin: 0;
}

.content .site-layout-background {
	background-color: $primary2;
}

.submitButton {
	margin-right: 4rem;
}
